mat-list-item.details-container {
  padding: 2rem 0 2rem 0;
  height: 100px;

  dt {
    font-weight: bold;
  }
}

mat-list-item.chart-list-item {
  height: 70px;
  padding: 2rem 0 1rem 0;
}

.chart-container {
  height: 70px;
  margin-bottom: 1rem;
}


::ng-deep ngx-charts-line-chart {
  text {
    fill: #ffffff;
  }
}

.open-details-button {
  margin: 0.25rem;
  text-transform: uppercase;
}


table {
  width: 100%;

  th, td {
    text-align: left;
  }
}
