<mat-list *ngIf="!(buoyDetailsLoading$ | async)">
  <mat-list-item>Details</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="details-container">
    <table *ngIf="buoy$ | async as buoy">
      <tbody>
      <tr>
        <th>ID</th>
        <td>{{buoy.id}}</td>
      </tr>
      <!--
      <tr>
        <th>Longitude</th>
        <td>{{buoy.longitude}}</td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td>{{buoy.latitude}}</td>
      </tr>
      -->
      </tbody>
    </table>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Temperatur [°C]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [gradient]="false"
        [legendPosition]="'bottom'"
        [legend]="false"
        [margin]="[0, 0, 0, 0]"
        [results]="temperatureSeries$ | async"
        [scheme]="{ domain: ['#ff5252'] }"
        [showGridLines]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Druck [p]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [gradient]="false"
        [legendPosition]="'bottom'"
        [legend]="false"
        [margin]="[0, 0, 0, 0]"
        [results]="pressureSeries$ | async"
        [scheme]="{ domain: ['#757575'] }"
        [showGridLines]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Salzgehalt [g/l]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [gradient]="false"
        [legendPosition]="'bottom'"
        [legend]="false"
        [margin]="[0, 0, 0, 0]"
        [results]="saltinessSeries$ | async"
        [scheme]="{ domain: ['#40c4ff'] }"
        [showGridLines]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
