<mat-sidenav-container [hasBackdrop]="sidenavHasBackdrop" class="sidenav-container">
  <mat-sidenav
    #sidenav
    (openedChange)="onOpenChange($event)"
    [autoFocus]="false"
    [disableClose]="true"
    [mode]="sidenavMode"
    [opened]="sidenavOpened$ | async"
    class="mat-elevation-z24">

    <div>
      <div class="sidenav-button-container">
        <button (click)="onShowPathLayer()" mat-icon-button aria-label="Show path layer">
          <mat-icon>map</mat-icon>
        </button>
        <button (click)="onSidenavClose()" mat-icon-button aria-label="Close sidenav">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-map-leaflet></app-map-leaflet>
    <app-button-nav></app-button-nav>
  </mat-sidenav-content>
</mat-sidenav-container>


