<mat-sidenav-container class="sidenav-container" [hasBackdrop]="sidenavHasBackdrop">
  <mat-sidenav
    class="mat-elevation-z24"
    #sidenav
    [opened]="sidenavOpened$ | async"
    [autoFocus]="false"
    [mode]="sidenavMode"
    [disableClose]="true"
    (openedChange)="onOpenChange($event)">

    <div class="close-button-container">
      <button mat-icon-button (click)="onSidenavClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>


    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-map-leaflet></app-map-leaflet>
    <app-button-nav></app-button-nav>
  </mat-sidenav-content>
</mat-sidenav-container>


