:host {
  display: block;
  position: absolute;
  z-index: 1000;

  :host-context(.handsetPortrait),
  :host-context(.handsetLandscape),
  :host-context(.tabletPortrait),
  :host-context(.tabletLandscape) {
    top: 1rem;
    left: 1rem;

    img {
      width: 150px;
    }
  }

  :host-context(.webPortrait),
  :host-context(.webLandscape) {
    bottom: 1rem;
    left: 1rem;

    img {
      width: 300px;
    }
  }
}
