<mat-list>
  <mat-list-item>Details</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="details-container">
    <dl *ngIf="float$ | async as float">
      <dt>ID</dt>
      <dd>{{float.id}}</dd>
      <dt>Longitude</dt>
      <dd>{{float.longitude}}</dd>
      <dt>Latitude</dt>
      <dd>{{float.latitude}}</dd>
    </dl>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Temperatur [°C]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [margin]="[0, 0, 0, 0]"
        [scheme]="{ domain: ['#ff5252'] }"
        [yAxisTicks]="[0, 500, 1000]"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [gradient]="false"
        [showGridLines]="false"
        [legendPosition]="'bottom'"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'"
        [results]="temperatureSerie">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Druck [p]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [margin]="[0, 0, 0, 0]"
        [scheme]="{ domain: ['#757575'] }"
        [yAxisTicks]="[0, 500, 1000]"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [gradient]="false"
        [showGridLines]="false"
        [legendPosition]="'bottom'"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'"
        [results]="pressureSerie">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>Salzgehalt [g/l]</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="chart-list-item">
    <div class="chart-container">
      <ngx-charts-line-chart
        [margin]="[0, 0, 0, 0]"
        [scheme]="{ domain: ['#40c4ff'] }"
        [yAxisTicks]="[0, 500, 1000]"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [gradient]="false"
        [showGridLines]="false"
        [legendPosition]="'bottom'"
        [xAxisLabel]="'X-Axis'"
        [yAxis]="'Y-Axis'"
        [results]="saltinessSerie">
      </ngx-charts-line-chart>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
