<mat-list>
  <mat-list-item>
    <mat-slide-toggle
      (change)="onSaltinessLayerVisibilityChange($event)"
      [checked]="saltinessLayerVisibility$ | async">
      <i class="mdi mdi-18px mdi-blur"></i>
      Saltiness Layer
    </mat-slide-toggle>
  </mat-list-item>

  <mat-list-item>
    <mat-slide-toggle
      (change)="onMakersLayerVisibilityChange($event)"
      [checked]="markersLayerVisibility$ | async">
      <i class="mdi mdi-18px mdi-map-marker"></i>
      Markers Layer
    </mat-slide-toggle>
  </mat-list-item>
</mat-list>

